$font: 'inter', sans-serif;

$background-color: #F1F1F1;
$primary-color: #18529D;
$secondary-color: #28AD56;
$third-color: #187FAD;
$fourth-color: #28AD99;
$red-color: #AD2828;
$neutral-color: #6C757D;

$white-color: #FFFFFF;
$black-color: #000000;

$border-radius: 5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $background-color;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: $white-color;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: $white-color;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: $black-color;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 20px;
    position: relative;
}

header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

label {
    font-size: 16px; 
    margin-bottom: 5px;
}

.back-button {
    transition: 0.2s;
}

.back-button:hover {
    filter: brightness(0) saturate(100%) invert(51%) sepia(71%) saturate(482%) hue-rotate(88deg) brightness(93%) contrast(86%);
}

.consult-button {
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: $border-radius;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.consult-button:hover {
    background-color: $secondary-color;
}