$font: 'inter', sans-serif;

$background-color: #F1F1F1;
$primary-color: #18529D;
$secondary-color: #28AD56;
$third-color: #187FAD;
$fourth-color: #28AD99;
$red-color: #AD2828;
$white-color: #FFFFFF;
$black-color: #000000;

$border-radius: 5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $background-color;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: $white-color;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: $white-color;
}